<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h2 class="fw-bold">
        📊 Reporte de Ventas
    </h2>

    <div class="alert alert-success mt-3">

        <h4>
            💰 Total Vendido:
            Bs {{ total }}
        </h4>

    </div>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">

            <tr>
                <th>ID Venta</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Total</th>
            </tr>

        </thead>

        <tbody>

            {% for v in ventas %}

            <tr>

                <td>{{ v.id }}</td>

                <td>
                    {{ v.cliente.nombre }}
                </td>

                <td>
                    {{ v.fecha }}
                </td>

                <td>

                    Bs
                    {{ v.detalles|sum(attribute='subtotal') }}

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}