/* =========================================
   BODY
========================================= */
body {

    margin: 0;

    padding: 0;

    background: #f4f6f9;

    font-family: Arial, Helvetica, sans-serif;
}

/* =========================================
   SIDEBAR
========================================= */
.sidebar {

    position: fixed;

    top: 0;

    left: 0;

    width: 250px;

    height: 100vh;

    background: linear-gradient(
        180deg,
        #212529,
        #343a40
    );

    padding-top: 20px;

    box-shadow: 2px 0px 10px rgba(0,0,0,0.2);

    z-index: 1000;
}

/* =========================================
   LOGO
========================================= */
.logo {

    text-align: center;

    margin-bottom: 30px;
}

.logo img {

    width: 90px;

    border-radius: 15px;

    margin-bottom: 10px;
}

.logo h4 {

    color: white;

    font-weight: bold;
}

/* =========================================
   MENÚ
========================================= */
.menu {

    display: flex;

    flex-direction: column;

    padding: 10px;
}

.menu a {

    color: white;

    text-decoration: none;

    padding: 14px 18px;

    margin-bottom: 10px;

    border-radius: 10px;

    transition: 0.3s;

    font-size: 16px;

    font-weight: bold;
}

.menu a:hover {

    background: #0d6efd;

    transform: translateX(5px);
}

.menu i {

    margin-right: 10px;
}

/* =========================================
   SUBMENÚ
========================================= */
.submenu {

    margin-left: 15px;

    display: none;

    flex-direction: column;
}

.submenu a {

    background: #495057;

    font-size: 14px;

    padding: 10px;
}

.show {

    display: flex;
}

/* =========================================
   CONTENIDO
========================================= */
.main-content {

    margin-left: 250px;

    padding: 25px;
}

/* =========================================
   FOOTER
========================================= */
footer {

    margin-left: 250px;

    background: #212529;

    color: white;

    text-align: center;

    padding: 15px;

    margin-top: 30px;
}

/* =========================================
   RESPONSIVE
========================================= */
@media(max-width: 768px) {

    .sidebar {

        width: 100%;

        height: auto;

        position: relative;
    }

    .main-content {

        margin-left: 0;
    }

    footer {

        margin-left: 0;
    }
}